@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: rgba(242, 242, 242, 0.6);
  --primary: #f4d793;
  --secondary: #f5f5f5;
  --third: #fff6da;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  h1 {
    @apply text-4xl font-semibold tracking-tight text-secondary md:text-5xl lg:text-6xl;
  }

  p {
    @apply text-sm font-light leading-5 tracking-wide md:text-base;
  }

  input {
    @apply border-b border-foreground bg-transparent px-5 py-2 text-base font-light text-secondary outline-none ring-0 placeholder:text-sm placeholder:font-thin placeholder:text-foreground focus:rounded-lg focus:border focus:border-secondary;
  }

  textarea {
    @apply border-b border-foreground bg-transparent px-5 py-2 text-base font-light text-secondary outline-none ring-0 placeholder:text-sm placeholder:font-thin placeholder:text-foreground focus:rounded-lg focus:border focus:border-secondary;
  }
}
