@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: rgba(242, 242, 242, 0.6);
  --primary: #145efc;
  --secondary: #f5f5f5;
}

body {
  color: var(--secondary);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
